.ui-window-content{
  width: 100%;
  height: ~'calc(100% - 41px)';
  background-image: url("@static/login.png");
  background-position: right;
  background-size: cover;
}

.inevio-logo{
  background-image: url("@static/logo.png");
  width: 251px;
  height: 49px;
  background-size: cover;
  margin: 200px auto 0 auto;
}

.slogan{
  font-family: Lato;
  font-size: 17px;
  color: #fefefe;
  margin: 40px 20px 0 20px;
  text-align: center;
  line-height: 30px;
}

.login-buttons{
  margin: 100px auto 0 auto;
  width: 314px;
}

.login-buttons .ui-btn{
  width: 145px;
  height: 58px;
  border-radius: 58px;
  outline: none;
}

.login-buttons .ui-btn.accept{
  margin-right: 21px;
}

.login-buttons .ui-btn.transparent{
  width: 141px;
  height: 54px;
  border: 2px solid #a9a9a7;
  background-color: transparent;
  background-image: none;
}

.login-buttons .ui-btn.transparent span{
  color: #fefefe;
}
